<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greengram.greengram4.feed.FeedCommentMapper">
    <insert id="insFeedComment" useGeneratedKeys="true" keyProperty="ifeedComment">
        INSERT INTO t_feed_comment
        set ifeed = #{ifeed},
        iuser = #{iuser},
        comment = #{comment}
    </insert>

    <select id="selFeedCommentAll">
        SELECT A.ifeed_comment AS ifeedComment, A.comment, A.created_at AS createdAt, B.iuser AS writerIuser,
        B.nm AS writerNm, B.pic AS writerPic
        from t_feed_comment AS A
        JOIN t_user AS B
        ON A.iuser = B.iuser
        where A.ifeed = #{ifeed}
        order by A.ifeed_comment
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <delete id="delFeedComment">
        delete from t_feed_comment
        where ifeed_Comment = #{ifeedComment} and iuser = #{iuser}
    </delete>

    <select id="selFeedCommentEachTop4">
        SELECT A.ifeed_comment AS ifeedComment,
        A.ifeed
        ,A.comment
        ,A.created_at AS createdAt
        ,B,iuser AS writerIuser
        ,B.nm AS writerNm
        ,B.pic AS writerPic
        FROM (
        SELECT
        ROW_NUMBER() OVER(PARTITION BY ifeed) rnum
        , ifeed, COMMENT, ifeed_comment, iuser, created_at
        FROM t_feed_comment
        WHERE ifeed IN(<foreach collection="list" item="comment" separator="" )
            #{comment.ifeed}
        ))A
        INNER JOIN t_user as B
        ON A.iuser = B.iuser
        WHERE A.rnum <![CDATA[
        <= 4
        ]]>
    </select>
</mapper>