openapi:
  apartment:
    base-url: http://openapi.molit.go.kr
    data-url: OpenAPI_ToolInstallPackge/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev
    service-key: YkTAT8Fccc8Lq60Z3GROGXrqtxUErRqJRUP0T1tZe1LE2dRMkkOwDZr7Zi5zhNiDI%2B1T6VXBj9c2LRNKeJvVFQ%3D%3D

app:
  jwt:
    secret: DaeguGreenArtAcademyClass502RoomForJavaSpringBootFighting
    header-scheme-name: authorization
    token-type: Bearer
    access-token-expiry: 7200000
    refresh-token-expiry: 1296000000
  oauth2:
    authorized-redirect-uris:
      - http://localhost:8080/oauth/redirect
      - http://192.168.0.144:5224/oauth/redirect

file:
  dir: D:/download/greengram5/

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB
  datasource:
    #driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:log4jdbc:mariadb://localhost:3306/greengram5
    username: root
    password: green502
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: sdfsf
            clientSecret: sdfsdfs
            scope:
              - email
              - profile
          facebook:
            clientId: sdfsfs
            clientSecret: sdfsdfs
            scope:
              - email
              - public_profile
          naver:
            client-id: kmVZfgAYMDYoL6K2tpyG
            client-secret: bHc_dstF7r
            #clientAuthenticationMethod: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            scope:
              - name
              - email
              - profile_image
            client-name: Naver
          kakao:
            client-id: c6e1a21e0671c51de9b70a581a382c5d
            client-secret: txAYe48XXvXapxY1jiJQsDkcMq67JXj9
            clientAuthenticationMethod: client_secret_post
            authorizationGrantType: authorization_code
            #redirectUri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            redirectUri: http://localhost:8080/login/oauth2/code/kakao
            scope:
              - profile_nickname
              - profile_image
            clientName: Kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorizationUri: https://kauth.kakao.com/oauth/authorize
            tokenUri: https://kauth.kakao.com/oauth/token
            userInfoUri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id

mybatis:
  mapper-locations: mappers/**/*.xml

springdoc:
  swagger-ui:
    path: /swagger.html

server:
  port: 8080

fcm:
  certification: serviceAccountKey.json

logging:
  level:
    jdbc:
      sqlonly: off
      sqltiming: info
      resultsettable: info
      audit: off
      resultset: off
      connection: off
---

spring:
  config:
    activate:
      on-profile: "jpa"
  datasource:
    url: jdbc:log4jdbc:mariadb://localhost:3306/greengram5_jpa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

file:
  dir: /home/download/

server:
  port: 8081